/* header */
body{ margin:0;}

#header_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.header_li {
  float: left;
}

.header_li:last-child {
  border-right: none;
}

.header_li a {
  display: block;
  color: white !important;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none !important;
  margin:0;
}

/* .header_li a:hover:not(.active) {
  background-color: #111;
} */

/* footer */
#footer {
   margin-bottom:0;
   background-color: #f1f1f1;
   text-align: center;
}
#footer p{ margin: 0; padding-top: 20px;}

#container {min-height: 530px;}
.btn {outline:0 !important;}

/* room_table */
#room_info{width: 30%; }
.title { width: 20%; }
.content { width: 60%; }
.title, .content {border-top: 0 !important;}
.title, .content {border-bottom: 1px solid #e1e1e1 !important;}

/* room_button */
.room{ display: inline-block; background-color: white; 
	   border:2px solid #333; border-radius:20px; outline:0; padding:5px 8px; margin-right:5px;}
.room:hover { background-color: #333; color:white;}
.room:focus { background-color: #333; color:white;}

/* modal_table */
.mtitle { width: 30%; padding-bottom: 10px;}
.mcontent { width: 80%; padding-bottom: 10px;}
.modal-header { background-color: #333; color: white;}